.tableInner {
  max-width: 800px;
  margin: 0 auto;
}

.table-head {
  background-color: lightgrey;
}

.tableInner tbody tr :nth-child(even) {
  background-color: #f2f2f2;
}

.cell_header {
  border: solid darkgray;
  border-width: 1px 1px;
  text-align: center !important;
  margin: 10px;
  padding: 6px;
}

.cell {
  border: solid lightgray;
  border-width: 1px 1px;
  margin: 10px;
  padding: 6px;
  text-align: left !important;
}

.button-for-mobile {
  display: none !important;
}

@media screen and (max-width: 800px) {
  table.tableInner thead {
    display: none;
  }
  table.tableInner tr {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  table.tableInner td:empty {
    display: none;
  }
  table.tableInner td {
    display: block;
    text-align: right !important;
  }
  table.tableInner td:empty:before {
    display: none;
  }
  table.tableInner td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }

  .button-for-mobile {
    display: block !important;
  }
}
